/* start product card component  */
.center {
    width: 100%;
    height: auto;
    margin: 30px 0;
}

.product_card  {
    margin: 5px;
    z-index: 0;
    height: auto;
}
#detalis-btn {
    color: black;
    font-weight: bolder;

}
#img-product{
width: 120px;
height: 150px;
margin: auto;
}
/* end product card component  */
.clear {
    clear: both;
    float:left;
}

/* start navbar component  */
.alternav{
    width: 100%;
    height: 60px;
    background-color: #f6f1f1;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 5;
}
nav {
    width: 100%;
    height: 60px;
    background-color: none;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 5;
    transition: 0.4s;
}
nav .container {
    display: flex;
    align-items: center;
}
nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 1.3em;
    font-weight: lighter;
}
nav img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

nav a:hover {
    color: grey;
}
/* end navbar component  */











/* start header component  */

/* end header component  */


/* start  search component  */

.form-search {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 30px;
    height: 60px;
    border-radius: 10px;
}
.form-search  .search {
    width: 90%;
    border: none;
    outline: none;
    background: none;
}

/* end  search component  */


/* start LeftSaid component  */






/* start navbar component  */

.nav-login{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: fixed;
    z-index: 1;
    margin-bottom: 50px;
    top: 0;
}
.nav-login ul {
    width: 80%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.nav-login ul li {
    margin: 0;
    display: block;
    cursor: pointer;
    margin: 0 5px;
    text-align: center;
}
.nav-login ul li a {
    color: #1e201f;
}



/* end navbar component  */




/* start profile component  */
.uereInfo {
    width: 100%;
    position: absolute;
    top: 60px;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uereInfo .cover {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uereInfo .cover  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
.uereInfo .cover h2 {
        color: #1e201f;

} 
.uereInfo .cover h5 {
    color: #1e201f;


}
.edit {
    width: 85%;
    height: auto;
    margin: auto;
}
.edit .form {
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* end profile component  */


/* start Single Product component  */

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../../public/single.svg');
    background-repeat: no-repeat;
    background-size: cover;

}

.content .left img {
    width: 300px;
    height: 300px;
}
.content .right input[type = 'number'] {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    padding: 10px;
}
.content .right input[type = 'submit'] {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: ease-in-out 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
}
.content .right input[type = 'submit']:hover {
    background-color: black;
    color: white;
}
/* end Single Product component  */
/* start header component  */

header .container  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
header .container .img {
    width: 100%;
    height: 300px;
    background-image: url('../../public/cart_image.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
}
h1 {
    font-size: 5em;
    font-weight: bolder;
    color: #3d3d3d;
}
/* end header component  */

/* start cartItem component */ 

.cartitembody {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) ;
    border-radius: 5px;
}
.cartitembody img {
    width: 60px;
    height: 60px;

}
.cartitembody .leftItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cartitembody .leftItems input[type='number'] {
    outline: none;
    height: 40px;
}
.cartitembody .rightItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartitembody .rightItems button {
    border: none;
    outline: none;
    background-color: rgb(227, 40, 40);
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 5px;
    transition: 0.5s;
}
.cartitembody .rightItems button:hover {

    background-color: rgb(249, 76, 76);
}