body , * {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #f5faff;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}


a{
  text-decoration: none;
}